/* RACINE */
@font-face {
  font-family: 'cup_and_talonregular';
  src: url('../font/cup-and-talon.regular-webfont.woff2') format('woff2'),
       url('../font/cup-and-talon.regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
:root {
  --color-green: #2ad496;

  --fw-400: 400;
  --fw-500: 600;
  --fw-600: 700;

  --ff-500: "Source Serif Pro", serif;
  --ff-600: "Cabin Sketch", serif;
  --ff-700: "cup_and_talonregular";

  --fs-500: 1rem;
  --fs-600: 1.25rem;
  --fs-h1: clamp(2rem, 10vw, 7rem);
  --fs-h2: clamp(1.5rem, 8vw, 6rem);
  --fs-h3: clamp(1.2rem, 8vw, 3.5rem);
  --fs-h4: clamp(1rem, 8vw, 2.5rem);
  --fs-p-home: clamp(1vw, 1.3rem, 5vw);
  --fs-p-presentation: clamp(1.3rem, 3vw, 2rem);

  --size-menu: 60px;

  --h-Dés: clamp(70px, 15vw, 13rem);
  --h-Aventures: clamp(50px, 14vw, 12rem);
  --h-primary-dice: clamp(100px, 18vw, 16rem);
  --h-icon: clamp(80px, 15vw, 250px);
  --h-logo: 45px;
  --h-first-black-cube: 240px;
  --h-last-black-cube : 340px;

  --w-brush: clamp(380px, 80vw, 700px);
  --w-splash: clamp(290px, 50vw, 500px);

  --t-Dés: 15%;
  --t-gDice: 8%;
  --left-wDice: 15%;
  --left-gDice: -12%;

  --dice-400: clamp(50px, 8vw, 100px);
  --dice-500: clamp(80px, 15vw, 150px);
  --dice-600: clamp(100px, 20vw, 200px);

  /* ______DEKSTOP_______ */

  --t-Dés-max: 35%;
  --t-wDice-max: 32%;
  --t-gDice-max: 39%;

  --left-Dés-max: 2%;
  --left-wDice-max: 8%;
  --left-gDice-max: -18%;

  --left-knight-max: 50%;
}

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: --webkit-fill-available;
}
body {
  font-family: var(--ff);
  font-size: var(--fs-500);
}
/* BOUTON MENU & MENU */
header li {
  cursor: pointer;
}
header {
  right: 50%;
  transform: translateX(50%);
  width: 20%;
  z-index: 10;
}
.button-nav:hover {
  background-color: var(--bs-gray-700) !important;
  color: var(--color-green) !important;
}
#dice-button {
  height: var(--size-menu);
  width: var(--size-menu);
  transition: 0.5s ease-out;
}
.dice-rotate {
  transform: rotate(180deg);
}
#p-menu {
  width: 100%;
  font-size: var(--fs-600);
  font-weight: var(--fw-600);
  letter-spacing: 0.5rem;
}
.nav-div {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 9;
  transition: 0.5s ease-out;
}

.nav-up {
  transform: translateY(-100%);
}
.nav-down {
  transform: translateY(0%);
}

.nav-item span {
  background: var(--color-green);
  height: 1px;
  width: 35%;
}
.nav-item:hover {
  background-color: var(--bs-gray-700);
}
.nav-link:hover {
  color: var(--color-green) !important;
}
button {
  border: none;
}

/* STYLE DE #HOME */
.w-80 {
  width: 80%;
}
.w-85 {
  width: 85%;
}
.wrap-container {
  transition: 0.5s ease-out;
}
#Dés {
  height: var(--h-Dés);
  position: relative;
  top: var(--t-Dés);
}
#Aventures {
  height: var(--h-Aventures);
  z-index: 1;
}

#white-dice,
#green-dice {
  height: var(--h-primary-dice);
  position: relative;
}
#white-dice {
  left: var(--left-wDice);
}
#green-dice {
  left: var(--left-gDice);
  top: var(--t-gDice);
}
.Gdice__move-in {
  animation: 2s ease-out WmoveIn;
}
.Wdice__move-in {
  animation: 1.5s ease-out WmoveIn;
}
@keyframes GmoveIn {
  from {
    transform: translateX(150%) rotate(0);
  }
  to {
    transform: translateX(0) rotate(-380deg);
  }
}
@keyframes WmoveIn {
  from {
    transform: translateX(200%) rotate(0);
  }
  to {
    transform: translateX(0) rotate(-380deg);
  }
}
.Wdice__wiggle {
  animation: 2.5s ease-in-out dicesWiggleWiggle;
}

@keyframes dicesWiggleWiggle {
  0% {
    transform: translateX(0px) rotate(-380deg);
  }
  25% {
    transform: rotate(-350deg);
  }
  50% {
    transform: rotate(-365deg);
  }
  75% {
    transform: rotate(-355deg);
  }
  100% {
    transform: translateX(0) rotate(-360deg);
  }
}
@keyframes upAndDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
#arrow {
  animation: 0.5s ease-in-out upAndDown alternate infinite;
}

/* STYLE PRESENTATION */
#presentation {
  font-family: var(--ff-500);
  font-weight: var(--fw-600);
}
h1,
h2,
h3,
.pre-event__p,
h4 {
  font-family: var(--ff-600);
  font-weight: var(--fw-400);
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3,
.pre-event__p {
  font-size: var(--fs-h3);
}
h1 span,
h2 span,
h3 span,
.pre-event__p span,
.contact__p span {
  color: var(--color-green);
  font-weight: var(--fw-600);
}
h4 {
  font-size: var(--fs-h4);
}
h5 {
  font-weight: var(--fw-500);
}
.home__p {
  font-size: var(--fs-p-home);
}
.presentation__img {
  box-shadow: 0 0 2px rgb(155, 155, 155), 0 0 7px rgb(155, 155, 155),
    0 0 10px rgb(155, 155, 155), 0 0 20px rgb(155, 155, 155),
    0 0 30px rgb(155, 155, 155), 0 0 40px rgb(155, 155, 155);
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 2.5s infinite alternate;
  z-index: 2;
  border: white solid 2px;
}

@keyframes blink {
  100% {
    box-shadow: 0 0 3px #fff, 0 0 8px #fff, 0 0 15px #fff,
      0 0 25px rgb(155, 155, 155), 0 0 40px rgb(155, 155, 155),
      0 0 60px rgb(155, 155, 155);
  }
}
.presentation__icon {
  height: var(--h-icon);
  width: auto;
  z-index: 2;
}
.dice-500 {
  width: var(--dice-500);
  height: var(--dice-500);
}
.dice-400 {
  width: var(--dice-400);
  height: var(--dice-400);
}
.dice-600 {
  width: var(--dice-600);
  height: var(--dice-600);
}

.icon-bg {
  position: absolute;
  z-index: -1;
}
.presentation__brush {
  width: var(--w-brush);
  object-fit: contain;
  z-index: -5;
}


.black-cube {
  transition: .8s ease-in;
  z-index: -3;
}
.cube-left {
  transform: translateX(-200%);
}
.cube-right {
  transform: translateX(200%);
}

.jump {
  animation: jump 3s ease-in-out infinite alternate;
}
@keyframes jump {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
.presentation__text {
  font-size: var(--fs-p-presentation);
  z-index: -4;
}
.presentation__brush-splash {
  width: var(--w-splash);
  object-fit: contain;
  z-index: -5;
}
.brush__splash {
  opacity: 0;
  transition: .5s linear;
}
.brush__splash-visible {
  opacity: 1;
}
@keyframes magicSplash {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}



/* footer */
.footer__link::after,
.footer__link::before {
  content: "";
  width: 0;
  height: 1px;
  display: block;
  position: relative;
  background: var(--color-green);
  transition: 0.3s;
}


.footer__link:hover::after,
.footer__link:hover::before {
  width: 100%;
}
.fa-facebook:hover {
  color: var(--color-green);
}
/* EVENT & CONTACT */
.carousel__story {
  background: url('../img_modif/white-parchment-paper-texture.jpg');
}
.carousel-book-prev{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-book-next {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
#contact__container {
  height: 920px;
  transition: height .5s ease-in-out;
}

.letter-height {
  height: var(--h-letter);
}
#letter {
  font-family: var(--ff-700);
  transition: .5s ease-in-out;
  font-size: var(--fs-600);
}


#letter input:invalid + span:after {
  content: '✖';
  position: absolute;
  bottom: -5%;
  right: 2%;
}
#letter input:valid + span:after{
  content:'✓';
  position: absolute;
  bottom: -5%;
  right: 2%;
}
#letter input:focus,
#letter input:active,
#letter textarea:focus,
#letter textarea:active,
#letter select:focus
 {
  border-color: #000;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.6);
}
.event__choice-date,
.event__choice-dropdown {
  background-color: var(--bs-gray-800) !important;
  color: white !important;
}
.event__choice-date:hover,
.dropdown-item:hover {
  background: var(--bs-gray-700) !important;
}

.dropdown-item {
  color: white !important;
}
.event__choice-active {
  border: var(--color-green) solid 1px !important ;
}
.event__choice-active,
.dropdown-active {
  color: var(--color-green) !important;
}
.event__logo {
  margin: 0 0.5rem;
  height: var(--h-logo);
}
.contact__p {
  font-family: var(--ff-600);
}
.form-label {
  margin-bottom: 0 !important;
}

input[type="text"],
input[type="email"] {
  border-radius: 0;
  border: none;
}
input[type="text"],
input[type="email"] {
  border-bottom: 1px solid black;
}
#floatingTextarea {
  border-radius: 10px;
  border: 1px solid black;
}
#reason {
  background-color: var(--bs-light);
  border-color: black;
}
#reason:disabled {
  opacity: .5;
}

.form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}
.contact__letter {
  transform-style: preserve-3d;
  transition: 0.5s ease-in-out;
}
#letter-front_top {
  cursor: pointer;
}

#letter-front_top, 
#letter-back_top, 
#letter-front_bot,
#letter-back_bot {
  backface-visibility: hidden;
  background: url('../img_modif/white-parchment-paper-texture.jpg');
}

#letter-back_top, #letter-back_bot {
  transform: rotateX(180deg);
}
#letter-front_top {
  box-shadow: inset 0px 43px 32px -30px rgba(0,0,0,0.31), inset -40px 0px 32px -30px rgba(0,0,0,0.31), inset 40px 0px 32px -30px rgba(0,0,0,0.31), 0px 2px 7px 3px rgba(0,0,0,0.3);
}
#letter-front_bot {
  box-shadow: inset 0px -43px 32px -30px rgba(0,0,0,0.31), inset -40px 0px 32px -30px rgba(0,0,0,0.31), inset 40px 0px 32px -30px rgba(0,0,0,0.31);
}
#letter-back_top {
  box-shadow: inset 0px -43px 35px -18px rgba(0,0,0,0.28), inset -40px 0px 32px -30px rgba(0,0,0,0.31), inset 40px 0px 32px -30px rgba(0,0,0,0.31),0px 2px 7px 3px rgba(0,0,0,0.3), inset 0px 43px 44px 3px rgba(0,0,0,0.3);
}
#letter-back_bot {
  box-shadow: inset 0px -20px 40px 10px rgba(0,0,0,0.31), inset -40px 0px 32px -45px rgba(0,0,0,0.31), inset 40px 0px 32px -45px rgba(0,0,0,0.31), inset 0px 25px 44px 3px rgba(0,0,0,0.25), 0px -2px 20px 5px rgba(0,0,0,0.4);
}
#letter form {
  background: url('../img_modif/white-parchment-paper-texture.jpg');
  box-shadow: inset 0px -39px 7px -30px rgba(0,0,0,0.31), inset -40px 0px 32px -20px rgba(0,0,0,0.41), inset 40px 0px 32px -20px rgba(0,0,0,0.31);
}
.open-on_up {
  transform: translateY(-90%) rotateX(150deg);
}
.open-on_down {
  transform: translateY(80%) rotateX(-160deg);

}
.letter__button-back {
  bottom: 85%;
}

.contact__icon {
  height: var(--h-icon);
}

/* ______________MEDIA SCREEN */

@media screen and (max-width: 767px) {
  #contact-event .icon-bg {
    visibility: hidden;
  }
}

@media screen and (min-width: 569px) {
  #Dés {
    left: var(--left-Dés-max);
    top: var(--t-Dés-max);
  }
  #Aventures {
    z-index: 1;
  }
  #white-dice {
    left: var(--left-wDice-max);
    top: var(--t-wDice-max);
  }
  #green-dice {
    top: var(--t-gDice-max);
    left: var(--left-gDice-max);
  }
}

@media screen and (min-width: 768px) {
  #contact-event .icon-bg {
    visibility: visible;
  }
  #knight {
    left: var(--left-knight-max) !important;
  }
  .footer__line {
    transform: rotate(-90deg) translate(-50%);
  }
  header {
    right: 0;
    transform: translateX(0);
  }
  .nav-div {
    width: 21%;
  }
}

@media screen and (min-width: 1200px) {
  header {
    width: 15%;
  }
  .nav-div {
    width: 15%;
  }
}

@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    min-height: -webkit-fill-available;
  }
}